@font-face {
  font-family: "AdobeGaramond";
  src: url("fuentes/AGaramond-Regular.otf");
}

@font-face {
  font-family: "AdobeGaramondBold";
  src: url("fuentes/AGaramond-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "AdobeGaramond", sans-serif;
  scroll-behavior: smooth;
}

section {
  height: 1000px;
  background-color: #f0f2e7;
  padding: 55px 60px;
  height: fit-content;
}

.caja-con-sombra {
  border: 2px solid crimson;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

header {
  height: fit-content;
}

.portada {
  font-family: "AdobeGaramondBold", sans-serif;
  font-size: 12rem;
  color: #e6e9db;
  font-weight: bold;
  text-transform: uppercase;
  background-image: url(https://i.pinimg.com/originals/35/27/88/352788282eaf8e9ea48ff0eef5b3982c.jpg);
  min-height: 600px;
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 90px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  background-color: #f0f2e7;
  /*fijar l abarra de navegación respecto a la ventana*/
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99999;
}

nav.menu ul li a,
nav.fill ul li a {
  position: relative;
  text-align: center;
  color: rgb(14, 14, 14);
  font-size: 1.4rem;
}

nav.menu ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.menu ul li a:hover:after {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}

nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 9px 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 500;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a:hover {
  color: #555;
}

/*Biografía*/

.biografia h2,
.trayectoria h2,
.premios h2,
.galeria h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.8rem;
  color: #131313;
}

.titulo-biografia,
.titulo-trayectoria,
.titulo-premios,
.titulo-galeria {
  width: 73%;
  margin: 0 auto;
  color: #2c2c2c;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-bottom: 40px;
  gap: 10px;
}

.caja-biografia {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #ffffff;
  margin: 0 auto;
  width: 73%;
  height: 530px;
}

.descripcion-biografia {
  max-height: 900px;
  width: 68%;
  background-color: white;
  line-height: 1.5rem;
}

.descripcion-biografia p {
  font-size: 1.2rem;
  padding: 50px 50px 15px 50px;
}

.descripcion-biografia img {
  margin: 7px auto;
}

.separador {
  width: 100%;
  display: flex;
}

.foto-biografia {
  background-image: url(https://yt3.googleusercontent.com/o5_mjwl7QSyLQBguYioDM3wB4POD7tFbCOmBJn5SdpwZ5QvmrzoDG_lM_hgRma6qVKPHwqUJ2q8=s900-c-k-c0x00ffffff-no-rj);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 50%;
  height: 530px;
}

.trayectoria,
.galeria {
  background-color: #ffffff;
}

.item-trayectoria {
  display: flex;
  width: 78%;
  margin: 0 auto;
}

.item-trayectoria:nth-child(2n) {
  flex-direction: row-reverse;
}

.item-trayectoria li {
  margin-left: 49px;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.trayectoria ul {
  display: flex;
  flex-direction: column;
  gap: 47px;
}

.item-trayectoria img:nth-child(odd) {
  margin-left: 49px;
}

.item-trayectoria li h3 {
  border-bottom: 2px solid #b98f8f;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  border: 1px solid grey;
  width: 73%;
  margin: 0 auto;
  font-size: 1.2rem;
}

.grid-item {
  background-color: #ccc;
  padding: 20px;
  text-align: left;
  padding: 0.6em;
  border: 0.5px solid #a5a5a5;
}

.grid-title {
  background-color: #333 !important;
  color: white;
}

.color {
  background-color: #f2f2f2;
}

.grid .grid-item:not(.color) {
  background-color: #e6e9db00;
}

#galeria-imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 19px;
  row-gap: 19px;
  max-width: 1200px;
  width: 46%;
  margin: 0 auto;
}

imagen {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  height: 250px;
}

.imagen img {
  display: block;
  width: 250px;
  height: 250px;
  transition: transform 0.5s ease;
}

.imagen:hover img {
  transform: scale(1.1);
}

.imagen a {
  display: block;
}

.imagen::after {
  content: "";
  display: block;
}

footer {
  color: #202020;
  text-align: center;
  padding: 20px 0;
}

.footer-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.volver {
  color: #020202;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #1d1d1d;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.volver:hover {
  background-color: #181818;
  color: #949494;
}

.derechos-reservados {
  font-size: 14px;
}

@media (max-width: 1880px) {
  .separador {
    display: none;
  }
}

@media (max-width: 1770px) {
  .descripcion-biografia p {
    font-size: 1.2rem;
  }
  .caja-biografia {
    width: 79%;
  }
}

@media (max-width: 1616px) {
  .descripcion-biografia p {
    font-size: 1.1rem;
  }
  .caja-biografia {
    width: 81%;
  }
}

@media (max-width: 1470px) {
  .descripcion-biografia p {
    font-size: 1.02rem;
  }
  .caja-biografia {
    width: 82%;
  }
}

@media (max-width: 1374px) {
  .descripcion-biografia p {
    font-size: 1rem;
  }
  .caja-biografia {
    width: 89%;
  }
}

@media (max-width: 1374px) {
  .descripcion-biografia p {
    font-size: 1rem;
  }
  .caja-biografia {
    width: 91%;
  }
}

@media (max-width: 1230px) {
  .descripcion-biografia p {
    font-size: 1rem;
  }
  .caja-biografia {
    width: 100%;
  }
}

@media (max-width: 1772px) {
  #galeria-imagenes {
    width: 63%;
  }
}
@media (max-width: 1248px) {
  #galeria-imagenes {
    width: 76%;
  }
}

@media (max-width: 1034px) {
  #galeria-imagenes {
    width: 80%;
  }
}

@media (max-width: 1130px) {
  .descripcion-biografia p {
    font-size: 1rem;
  }
  .caja-biografia {
    width: 100%;
  }
  section {
    padding: 110px 23px;
  }
}

@media (max-width: 1056px) {
  .descripcion-biografia p {
    font-size: 1.2rem;
    text-align: justify;
  }
  .caja-biografia {
    width: 100%;
  }
  section {
    padding: 110px 0px;
  }
  .caja-biografia {
    flex-direction: column;
    height: 670px;
  }

  .descripcion-biografia {
    margin: 0 auto;
    width: 100%;
    padding: 25px;
  }

  .foto-biografia {
    width: 100%;
  }

  .titulo-biografia {
    width: 91%;
  }
  .separador {
    display: flex;
  }
}

@media (max-width: 952px) {
  .item-trayectoria {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: justify;
  }
  .item-trayectoria:nth-child(2n) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: justify;
  }
}

@media (max-width: 650px) {
  .descripcion-biografia p {
    font-size: 1.2rem;
    text-align: justify;
  }
  .caja-biografia {
    width: 100%;
  }
  section {
    padding: 110px 0px;
  }
  .caja-biografia {
    flex-direction: column;
    height: 750px;
  }

  .descripcion-biografia {
    margin: 0 auto;
    width: 100%;
    padding: 25px;
  }

  .foto-biografia {
    width: 100%;
  }

  .titulo-biografia {
    width: 91%;
  }
}
